# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Flask session files
flask_session/

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# VS Code settings
.vscode/

# Cache files
search_cache.json

# Log files
*.log
